<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="eggs" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Mode=Share Deny None;data source=&quot;D:\Farms Apps 23-9-2022\معمل التفريخ\formApplication\bin\Debug\eggs.accdb&quot;;Jet OLEDB:Database Password=;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
